<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produto</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container" id="app">
    <div class="row">
        <div class="col-s10 table-responsive">
            <div v-bind:class="[typecallback]" class="alert" role="alert" v-if="alertcallback">
                {{ message }}
            </div>
            <div class="card">
                <div class="card-header">
                    Produtos
                </div>
                <div class="card-body">
                    <div class="row">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-form-product" v-on:click="cleanForm()">
                            Novo Produto
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <br>
                    <div class="row">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nome</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Data de Cadastro</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="prod in products.content">
                                <td class="prod-image-size text-center" >
                                    <img :src="prod.image" alt="">
                                </td>
                                <td>{{prod.name}}</td>
                                <td>{{prod.description}}</td>
                                <td>{{prod.dateRegister}}</td>
                                <td class="column-actions">
                                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-confirm-action" v-on:click="changeModalDelete(prod.id);">
                                        Excluir
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <button class="btn btn-warning btn-sm text-white" data-toggle="modal" data-target="#modal-form-product" v-on:click="findById(prod.id)">
                                        Editar
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>

                                <li class="page-item" v-for="(p,index) in products.totalPages" v-bind:class="{ active: index == products.pageable.pageNumber}">
                                    <a class="page-link" v-bind:id="'page-'+index" href="#" v-on:click="listAll(index);" > {{ index + 1 }}</a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-form-product" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Formulário de Produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="prod-name" class="col-form-label">Nome:</label>
                            <input type="text" class="form-control" id="prod-name" v-model="product.name">
                            <small id="prod-name-help" class="form-text text-danger">{{ productError.name }}</small>
                        </div>
                        <div class="form-group">
                            <label for="prod-img" class="col-form-label">Imagem:</label>
                            <input type="file" class="form-control" id="prod-img" @change="uploadImage" accept="image/*">
                            <input type="hidden" v-model="product.image">
                        </div>
                        <div class="form-group">
                            <label for="prod-description" class="col-form-label">Descrição:</label>
                            <textarea class="form-control" id="prod-description" v-model="product.description" required></textarea>
                            <small id="prod-description-help" class="form-text text-danger">{{ productError.description }}</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" v-on:click="changeModalSave();">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-confirm-action" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <strong>{{ modalTxtAction }}</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" v-if="modalAction == 'delete'">Cancelar</button>
                    <button type="button" class="btn btn-secondary" v-on:click="cancelAction();" data-dismiss="modal" v-if="modalAction == 'save'">Cancelar</button>
                    <button type="button" class="btn btn-primary" v-on:click="save();" v-if="modalAction == 'save'">{{ modalBtnAction }}</button>
                    <button type="button" class="btn btn-primary" v-on:click="remove();" v-if="modalAction == 'delete'">{{ modalBtnAction }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/js/jquery.base64.js"></script>
<script src="/js/produto.js"></script>
</body>

</html>